/* Custom CSS Settings
-------------------------*/
#header {
		border-bottom: 1px solid #e8e3e3;
		background: #41A24D;
}
h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: Century Gothic, Arial, Helvetica, sans-serif;
		color: #c21c22;
}
a {
		color: #c21c22;
}
#footer a {
	color: #c21c22;
}
#footer .footer-bootom p {
		color: #3b9436;
		margin-bottom: 0;
}
td.submit input {
		background: #c21c22;
		border: 0;
		text-shadow: none;
}
